html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1rem;
  font-family: sans-serif;
  background-color: whitesmoke;
}
main {
  h1 {
    text-align: center;
    margin: 0.5rem auto;
  }
  .menu {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    button {
      border: none;
      border-radius: 3px;
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
      background-color: #05a;
      color: #fff;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
.square-container {
  display: grid;
  width: 400px;
  height: 400px;
  margin: 1rem auto;
  border: 1px solid #000;
  .square {
    border: 0.5px solid #000;
    opacity: 1;
    transition: all 700ms ease-in-out;
  }
  .deleting {
    border: 0.01px solid rgba($color: #000000, $alpha: 0);
    opacity: 0;
  }
}
